<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    svg: { fontCache: 'global' }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script" async></script>
<style>
  /* Shrink Cayman page-header ~20% vertically */
  .page-header { padding-top: 4rem; padding-bottom: 4rem; }
  @media screen and (max-width: 64em) {
    .page-header { padding-top: 2.4rem; padding-bottom: 2.4rem; }
  }
  @media screen and (max-width: 42em) {
    .page-header { padding-top: 1.6rem; padding-bottom: 1.6rem; }
  }
</style>
